body{
  margin: 0;
  background-color: #0c2033;
  color: aliceblue;
  font-size: 16px;
}

.todo-container{
  width: 100%;
}

.center{
  display: flex;
  justify-content: center;
}

/* filter */
.filter-div{
  padding: 1em;
}
.filter-div button{
  padding: 0.3em;
  margin: 0.5em;
  cursor: pointer;
}
/* li */
.todo-li{
  cursor: pointer;
  padding: 0.5em;
  margin: 0.2em;
  font-size: 2em;
}

/* Color Change */

.complited{
  text-decoration: line-through;
  opacity: 0.4;
}
.active{
  text-decoration: underline;
}